<section class="moontoken">
    <div class="inner">
        <div class="fx-space3">
            <div class="right">
                <div class="titlebar">
                    <a href="#" class="moontoken-btn round-btn">&nbsp; &nbsp; MOONSHOT TOKEN &nbsp; &nbsp;</a>
                </div>
                <div class="mainbody">
                    <div class="description">
                        <p class="p16 w700 uppercase white">
                            Moonshot is a deflationary, selfregenarating automatic liquidity providing protocol that pays out static rewards to holders. as our burn address is in the list of holders, the total supply of moonshot is forever decreasing.
                        </p>
                    </div>
                    <div class="description2">
                        <span class="white">
                            4% of each transaction is distributed amongst moonshot holders. this increases the incentive to hold the tokens in the wallets. when nobody is selling, the price could moonrocket. wallstreetbets won the fight against hedge funds. just by buying and holding, as the key to success. every single moonshot holder has an incentive to spread the use of moonshot as much as possible. as more transactions take place in the network, the net-worth of every individual increases as well.
                        </span>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <a href="#" class="back-btn round-btn">&nbsp; &nbsp; Back &nbsp; &nbsp;</a>
            </div>
        </div>
    </div>
</section>