<section class="panel">
    <div class="inner fx-col">
        <div class="fx-space-between">
            <div class="right text-center">
                <p>
                    <a><img class="panel-icon-small" src="assets/media/images/logo.png" alt="moonshot logo"></a>
                </p>
                <span class="divider"></span>
                <p>
                    <a><img class="panel-icon-small" src="assets/media/images/package.png" alt="moonshot package"></a>
                </p>
                <span class="divider"></span>
                <p>
                    <img class="panel-icon-small" src="assets/media/images/history.png" alt="moonshot history">
                </p>
                <span class="divider"></span>
                <p>
                    <img class="panel-icon-small" src="assets/media/images/help.png" alt="moonshot help">
                </p>
            </div>
        </div>
    </div>
</section>