<section class="inventory">
    <div class="inner">
        <div class="fx-space2">
            <div class="right">
                <div class="titlebar"></div>
                <div class="mainbody">
                    <div class="icons-container fx-space-between">
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                    </div>
                    <div class="icons-container fx-space-between">
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                    </div>
                    <div class="icons-container fx-space-between">
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                        <div class="block fx-center">
                            <img src="assets/media/images/plus.png" alt="team icon svg moonshot">
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <a href="#" class="back-btn round-btn">&nbsp; &nbsp; Back &nbsp; &nbsp;</a>
            </div>
        </div>
    </div>
</section>