<section class="history">
    <div class="inner fx-col">
        <div class="fx-space2">
            <div class="right">
                <div class="titlebar"></div>
                <div class="mainbody">
                    <div class="description">
                        <div class="titlebar2">BET ID</div>
                        <div class="items">
                            <span>001</span>
                            <span>002</span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="titlebar2">BET TIER</div>
                        <div class="items">
                            <span>GOLD</span>
                            <span>SILVER</span>
                        </div>
                    </div>
                    <div class="description desc_date">
                        <div class="titlebar2">DATE</div>
                        <div class="items">
                            <span>4-17-2021 16:15:26</span>
                            <span>4-17-2021 16:15:26</span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="titlebar2">NFT TOTAL</div>
                        <div class="items">
                            <span>1</span>
                            <span>0</span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="titlebar2">VERIFY SEED</div>
                        <div class="items">
                            <span>14849534</span>
                            <span>14849534</span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="titlebar2">CLAIMED</div>
                        <div class="items">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <a href="#" class="back-btn round-btn">&nbsp; &nbsp; Back &nbsp; &nbsp;</a>
            </div>
        </div>
    </div>
</section>