<section class="about">
    <div class="inner fx-col">
        <div class="fx-space-between">
            <div class="right">
                <div class="titlebar"></div>
                <div class="mainbody">
                    <div class="description">
                        <p class="p16 w700 uppercase white">boxes category</p>
                        <p class="p12 w700 uppercase white">
                            -users pay more to have more chances owning rare nfts.
                            wood boxes: total 500 boxes require 0.5B moonshot to open,
                            2% chance to get top tier nfts.
                            silver boxes: total 300 boxes, require 1B moonshot to open,
                            5% chance to get top tier nfts.
                            golden boxes: total 150 boxes, require 2B moonshot to open,
                            10% chance to get top tier nfts.
                            diamond boxes: total 50 boxes, require 10b moonshot to open,
                            20% chance to get top tier nfts.
                        </p>
                        <p class="p16 w700 uppercase white">Prize pool</p>
                        <p class="p12 w700 uppercase white">
                            -When users open boxes, the Moonshot tokens flow: 50%
                            to marketing/development budget (pay for artist,
                            dev to create even more NFTs), 50% to loot box prize pool.
                            -Rare NFTs can be used to redeem MOONshot locked in
                            prize pool:
                            Tier god NFT: 10% total pool, 1 nft.
                            tier 1 nft: 5% total pool, total 5 nfts.
                            tier 2 nft: 0.5% total pool, total 15 nfts.
                            tier 3 nft: 0.257% total pool, total 29 nfts.
                            -maturity time: nfts that are opened need to wait to a
                            certain time(10/20/30 days) to redeem moonshot. during that
                            time they can trade their nft in free market (such as opensea).
                        </p>
                    </div>
                    <div class="infoimg">
                        <img class="infoimg-icon-small" src="assets/media/images/infoimg.png" alt="moonshot imfoimg">
                        <img class="infoimg-icon-small" src="assets/media/images/infoimg.png" alt="moonshot imfoimg">
                        <img class="infoimg-icon-small" src="assets/media/images/infoimg.png" alt="moonshot imfoimg">
                        <img class="infoimg-icon-small" src="assets/media/images/infoimg.png" alt="moonshot imfoimg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>